* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
.main-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a {
    color: #e8f3ff;
    text-decoration: none;

}

.text-box {
    width: 90%;
    color: #e8f3ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 3.5rem;
}

.text-box p {
    margin: .8rem 0 2rem;
    font-size: 1.1rem;
    color: #e8f3ff;
    line-height: 2rem;
}

header>nav>a>img {
    width: 200px;
    transform: translateY(10px);
}

.hero-btn {
    color: rgb(28, 28, 87);
    display: inline-block;
    text-decoration: none;
    padding: .8rem 1.8rem;
    font-size: 1.4;
    background: rgb(181, 220, 233);
    position: relative;
    cursor: pointer;
    border-radius: .6em;
    font-weight: 700;
}

.hero-btn:hover {
    background: #f44336;
    color: #e8f3ff;
    transition: .3s;
}

#close-btn,
#hamburger {
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 1.5rem;
    }

    .nav-links ul {
        margin-top: 35px;
    }

    .nav-links ul li {
        display: block;
        margin-bottom: 15px;
        font-weight: 400;
    }

    .nav-links ul li:hover {
        text-decoration: underline blue 2px;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 50%;
        top: 0;
        right: -50%;
        text-align: left;
        z-index: 2;
        transition: .5s;
    }

    #close-btn,
    #hamburger {
        display: inline-block;
        color: #efefef;
        margin: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

/* MAIN */
/* Section header */
.section-header {
    background: yellow;
    margin: 0rem auto 2rem;
}

.section-header>h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #1c1e22;
}

.section-header>p {
    color: #1c1e22;
    font-size: 1rem;
    font-weight: 300;
    line-height: 22px;
}

/* Section-body */
.section-body {
    width: 80%;
    text-align: center;
    margin: 3rem auto 0;
}

/* Courses */
.row {
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 1em;
    padding: 2rem;
    box-sizing: border-box;
    transition: .5s;
}

.courses h3 {
    color: #AD486D;
    margin-bottom: 1rem;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .course-col {
        margin-bottom: 1rem;
    }
}

/* Campus */
.campus-col {
    flex-basis: 32%;
    border-radius: .8em;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col>img {
    width: 100%;
    display: block;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

.layer:hover {
    background: rgba(240, 60, 36, 0.8);
    cursor: pointer;
}

.campus h3 {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: #e8f3ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
}

.layer:hover h3 {
    opacity: 1;
    bottom: 49%;
}

/* Facilities */
.facilities-col {
    flex-basis: 31%;
    border-radius: .8em;
    text-align: left;
}

.facilities-col p {
    padding: 1rem 0 2rem 0;
}

.facilities-col img {
    width: 100%;
    border-radius: .8em;
}

.facilities-col h3 {
    text-align: left;
    margin-top: 1rem;
}

/* Student Reviews */
.testimonials>.row {
    display: flex;
    justify-content: space-around;
}

.testimonials .testimonials-col {
    display: flex;
    flex-basis: 42%;
    border-radius: .7em;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.testimonials-col>img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-col p {
    padding: 0;
}

.testimonials-col h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
    color: #1c1e22;
    font-weight: 500;
}

.testimonials-col .fa-star,
.fa-star-half-stroke {
    color: #fc695f;
}

/* Footer Call To Action */
.cta {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 80px 0;
}

.cta h1 {
    color: #e8f3ff;
    margin: 30px auto;
    line-height: 3rem;
    max-width: 80%;
    font-size: 2rem;
    font-weight: 400;
}

.cta input {
    display: block;
    min-width: 30%;
    max-width: 70%;
    height: 35px;
    margin: auto;
    padding-left: 10px;
    border-radius: .5em;
}

@media (max-width: 700px) {
    .cta h1 {
        font-weight: 400;
        font-size: 2rem;
    }

    .cta {
        padding: 70px 0;
    }
}

/* Footer */
footer {
    margin-top: 3rem;
    text-align: center;
    background: #9eaac0;
}

.footer-bottom {
    color: #323539;
}

.footer-bottom h4 {
    margin: 2.5rem auto 0;
    font-weight: 600;
}

.footer-bottom>p:first-of-type {
    margin: 1rem auto 2rem;
}

.footer-bottom>p:nth-of-type(2) {
    font-size: .9rem;
}

.icons {
    font-size: 1.8rem;
    margin: 10px auto 8px;
    cursor: pointer;
    color: #1c1e22;
}